@model MagazineProject.Web.Models.Area.Users.UserProfiles.UserProfileViewModel


@{
    ViewBag.Title = "title";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class=" text-primary">
                    @Model.UserName
                </h2>
            </div>

            @Html.Partial("_ProfilePartial")

        </div>
    </div>
</div>

<div class="row">
    <div>
        @Html.ActionLink("See" + @Model.UserName.ToString() + "`s Posts", "Index", "UserPosts", new { id = Model.Id }, new { @class = "btn btn-primary btn-block", area = "Users" })
        @Html.ActionLink("See" + @Model.UserName.ToString() + "`s Comments", "Index", "UserComments", new { id = Model.Id }, new { @class = "btn btn-primary btn-block", area = "Users" })
    </div>
</div>