@model MagazineProject.Web.Models.Area.Users.UserProfiles.UserProfileViewModel


@{
    ViewBag.Title = "Profile";
}

@Html.Raw(TempData["Message"])

<div class="row">
    <div class="col-md-12 ">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h2 class=" text-primary">
                    @Model.UserName
                    <span class="pull-right">
                        <a href="/Users/Settings" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                    </span>
                </h2>
            </div>

            @Html.Partial("_ProfilePartial")

        </div>
    </div>
</div>

<div class="row">
    <div>
        @Html.ActionLink(@Model.UserName.ToString() + "`s Posts", "Index", "UserPosts", new { id = Model.Id }, new { @class = "btn btn-primary btn-block", area = "Users" })
        @Html.ActionLink(@Model.UserName.ToString() + "`s Comments", "Index", "UserComments", new { id = Model.Id }, new { @class = "btn btn-primary btn-block", area = "Users" })
    </div>
</div>



