@model System.Linq.IQueryable<MagazineProject.Web.Models.Area.Grid.GridCommentViewModel>
@using GridMvc.Html

@section Styles{
    @Styles.Render("~/Content/grid")
}

@Html.Raw(TempData["Message"])

<div>
    @(Html.Grid(Model).Columns(columns =>
          {
              columns.Add(c => c.PostTitle).Titled("Post Title").Filterable(true);

              columns.Add(c => c.Status).Titled("Status").Filterable(true);

              columns.Add(c => c.CreatedOn).Titled("Posted on").Filterable(true);

              columns.Add(c => c.AuthorName).Titled("Comment` Author").Filterable(false);

              columns.Add().Titled("Actions").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id }).ToHtmlString());
          }).WithPaging(10).Sortable(true))
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/gridmvc")
}