@using MagazineProject.Web.Infrastructure.HtmlHelpers
@model MagazineProject.Web.Models.Area.Admin.InputViewModels.Category.AdminEditCategoryViewModel

@{
    ViewBag.Title = "Edit Category";
}

@Html.Raw(TempData["Message"])
<br/>
<br />

@using (Html.BeginForm("Edit", "AdminCategories", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        
        <div class="well">
            <legend>
                <h2>Edit Category</h2>
            </legend>
            @Html.EditorFor(m => m.Name)
            @Html.EditorFor(m => m.IsHidden)
            <br />
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>

        <div class="row">
            <div class="col-xs-4 text-right">
                @Html.ActionLink("Cancel", "Index", "AdminCategories", new { area = "Admin" }, new { @class = "btn btn-default", type = "reset" })
            </div>
            <div class="col-md-7 text-left">
                @Html.Submit("Save")
            </div>
        </div>

    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/category-add-edit")
}