@model System.Linq.IQueryable<MagazineProject.Web.Models.Area.Grid.GridCategoryViewModel>
@using GridMvc.Html

@{
    ViewBag.Title = "Categories`s Grid";
}

@section Styles{
    @Styles.Render("~/Content/grid")
}

@Html.Raw(TempData["Message"])
<br />
<br/>

@Html.ActionLink("Add", "Add", "AdminCategories", new { @class = "btn btn-primary", area = "Admin" })
<br/>
<br/>

<div>
    @(Html.Grid(Model).Columns(columns =>
          {
              columns.Add(c => c.Name).Titled("Name").Filterable(true);

              columns.Add(c => c.IsHidden).Titled("Hidden").Filterable(true);

              columns.Add().Titled("Edit").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { id = o.Id }).ToHtmlString()).SetWidth(10);

              columns.Add().Titled("Delete").Sanitized(false).Encoded(false).RenderValueAs(o => Html.ActionLink("Delete", "Delete", new { id = o.Id }).ToHtmlString()).SetWidth(10);

          }).WithPaging(10).Sortable(true))
</div>

@section scripts
{
    @Scripts.Render("~/bundles/gridmvc")
}