@model CommentViewModel

<article class="row">

    <div class="col-md-2 col-sm-2 hidden-xs">
        <figure class="thumbnail">
            <img src="@Url.Action("CommentUserImage", "Images", new { area = "", id = @Model.AuthorId })" class="img-responsive"/>
        </figure>
    </div>

    <div class="col-md-10 col-sm-10">
        <div class="panel panel-default arrow left">
            <div class="panel-body">
                <header class="text-left">
                    <div>
                        <i class="fa fa-user"></i>
                        @Html.ActionLink(@Model.AuthorName, "GetUserProfileByName", "Profile", new { area = "Users", userName = @Model.AuthorName }, null)
                    </div>
                    <time class="comment-date"><i class="fa fa-clock-o"></i> @Model.TimeCreated</time>
                </header>
                <div class="comment-post word-break">
                    <p>
                        @Html.Raw(@Model.Content)
                    </p>
                </div>
            </div>
        </div>
    </div>

</article>
