@using MagazineProject.Common
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"
          content="width=device-width,
               initial-scale=1.0,
               maximum-scale=1.0,
               user-scalable=no"/>
    <meta charset="utf-8"/>

    <link href="@Url.Content("~/favicon.ico")"
          rel="shortcut icon"/>
    <title>@ViewBag.Title Magazine Project</title>

    @Styles.Render("~/Content/basic")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>

<body>
<nav class="navbar navbar-default ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Magazine Project", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                @Html.Action("CategoryNavigation", "Categories", new { area = string.Empty })
            </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (User.IsInRole(GlobalConstants.Admin))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@GlobalConstants.Admin Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("Site Constants", "Index", "AdminSiteConstants", new { area = GlobalConstants.Admin }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Role Manage", "Index", "AdminRoleManager", new { area = GlobalConstants.Admin }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Users", "Index", "AdminUser", new { area = GlobalConstants.Admin }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Categories", "Index", "AdminCategories", new { area = GlobalConstants.Admin }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Posts", "Index", "AdminPosts", new { area = GlobalConstants.Admin }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Comments", "Index", "AdminComments", new { area = GlobalConstants.Admin }, null)
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(GlobalConstants.Moderator))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@GlobalConstants.Moderator Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("Posts", "Index", "ModeratorPosts", new { area = GlobalConstants.Moderator }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Comments", "Index", "ModeratorComments", new { area = GlobalConstants.Moderator }, null)
                            </li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole(GlobalConstants.Writer))
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@GlobalConstants.Writer Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @Html.ActionLink("Posts", "Index", "WriterPosts", new { area = GlobalConstants.Writer }, null)
                            </li>
                        </ul>
                    </li>
                }
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>

<div class="container">
    @RenderBody()
    <hr/>
    <footer>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4>
                    <link href="~/favicon.ico"
                          rel="shortcut icon" type="image/x-icon"/>
                    <strong>About the creator</strong>
                </h4>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:vasil.dimov.work@gmail.com">vasil.dimov.work@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://github.com/Xzq70r4/MagazineProject-Rewritten"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p>&copy; @DateTime.Now.Year - Magazine Project</p>
            </div>
        </div>
    </footer>
</div>

@Scripts.Render("~/bundles/basic")
@RenderSection("scripts", required: false)
</body>
</html>
