@using MagazineProject.Web.Infrastructure.HtmlHelpers
@model MagazineProject.Web.Models.Area.Moderator.InputViewModels.Post.ModeratorEditPostViewModel

@{
    ViewBag.Title = "Edit Post";
}

@section styles
{
    @Styles.Render("~/Content/file-input")
}

@Html.Raw(TempData["Message"])


@using (Html.BeginForm("Edit", "ModeratorPosts", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>

        <div class="well">

            <legend>
                <h2>Edit Post</h2>
            </legend>

            <div class="row">
                <div class="col-md-2 text-primary">
                    @Html.LabelFor(model => model.CategoryId)
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.SelectedItem, new { @class = "form-control" })
                </div>
            </div>
            <br/>
            @Html.Partial("_AdministrationPostPartial", Model)

        </div>

        <div class="row">
            <div class="col-xs-4 text-right">
                @Html.ActionLink("Cancel", "Index", "ModeratorPosts", new { area = "Moderator" }, new { @class = "btn btn-default", type = "reset" })
            </div>
            <div class="col-md-7 text-left">
                @Html.Submit("Save")
            </div>
        </div>

    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/post-add-edit")
}
