@using MagazineProject.Web.Infrastructure.HtmlHelpers
@model UserProfileSettingsViewModel

@{
    ViewBag.Title = "Settings";
}
@section styles
{
    @Styles.Render("~/Content/file-input")
}

@Html.Raw(TempData["Message"])

<br />
<br />
@using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="well">
            
            <legend>
                <h2>Settings</h2>
            </legend>
            <br/>
            <div class="row center-block">
                @Html.Partial("_UserNameSettingsPartial")
                @Html.Partial("_UserPasswordSettingsPartial")
                @Html.Partial("_UserEditParatial", @Model)
            </div>
        </div>
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/val-extensions")
    @Scripts.Render("~/bundles/tinymce-client-val")
    @Scripts.Render("~/bundles/uploadImage")
}


