@using MagazineProject.Web.Infrastructure.HtmlHelpers
@model MagazineProject.Web.Models.Area.Moderator.InputViewModels.Comment.ModeratorEditCommentViewModel

@{
    ViewBag.Title = "Edit Comment";
}

@Html.Raw(TempData["Message"])

@using (Html.BeginForm("Edit", "ModeratorComments", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="well">
            <legend>
                <h2>Edit Comment</h2>
            </legend>
            @Html.Partial("_AdministrationCommentPartial", Model)
            <div class="row">
                <div class="col-xs-4 text-right">
                    @Html.ActionLink("Cancel", "GetCommentsForGrid", "ModeratorComments", new { area = "Moderator" }, new { @class = "btn btn-default", type = "reset" })
                </div>
                <div class="col-md-7 text-left">
                    @Html.Submit("Save")
                </div>
            </div>
        </div>
    </fieldset>
}

