@using MagazineProject.Web.Infrastructure.HtmlHelpers
@model MagazineProject.Web.Models.Area.Writer.InputViewModels.WriterAddPostViewModel
@{
    ViewBag.Title = "Add Post";
}

@section styles
{
    @Styles.Render("~/Content/file-input")
}

@Html.Raw(TempData["Message"])

@using (Html.BeginForm("Add", "WriterPosts", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="well">

            <legend>
                <h2>Add Post</h2>
            </legend>
            @Html.EditorFor(m => m.UploadedImage)
            @Html.Partial("_WriterPostPartial", Model)
        </div>
        <div class="row">
            <div class="col-xs-4 text-right">
                @Html.ActionLink("Cancel", "Index", "WriterPosts", new { area = "Writer" }, new { @class = "btn btn-default", type = "reset" })
            </div>
            <div class="col-md-7 text-left">
                @Html.Submit("Save")
            </div>
        </div>
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/val-extensions")
    @Scripts.Render("~/bundles/tinymce-client-val")
    @Scripts.Render("~/bundles/uploadImage")
}
