@using MagazineProject.Web.Infrastructure.HtmlHelpers
@model MagazineProject.Web.Models.Area.Writer.InputViewModels.WriterEditPostViewModel

@{
    ViewBag.Title = "Add Post";
}

@section styles
{
    @Styles.Render("~/Content/file-input")
}

@Html.Raw(TempData["Message"])

@using (Html.BeginForm("Edit", "WriterPosts", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="well">

            <legend>
                <h2>Edit Post</h2>
            </legend>
            @Html.EditorFor(m => m.UploadedImage)
            <div class="row">
                <div class="col-md-2 text-primary">
                    @Html.LabelFor(model => model.CategoryId)
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.SelectedItem, new { @class = "form-control" })
                </div>
            </div>
            <br />
            @Html.Partial("_WriterPostPartial", Model)
        </div>
        <div class="row">
            <div class="col-xs-4 text-right">
                @Html.ActionLink("Cancel", "Index", "WriterPosts", new { area = "Writer" }, new { @class = "btn btn-default", type = "reset" })
            </div>
            <div class="col-md-7 text-left">
                @Html.Submit("Edit")
            </div>
        </div>
    </fieldset>
}

@section Scripts{
    @Scripts.Render("~/bundles/post-add-edit")
}


